// "Snaps" an asymmetric grid to a symmetric one by including gutters in the grid definitions
// Will only work properly with integer asymmetric grids
@function snap($grid, $gutter) {
  $holder: ();

  @each $column in $grid {
    $base: $column;
    $gutters: ($base - 1) * $gutter;

    $total: $base + $gutters;

    $holder: append($holder, $total, 'space');
  }

  @return $holder;
}