@import "breakpoint";
@import "singularitygs";
@import "singularity-extras/generators/ratio";
@import "singularity-extras/generators/snap";
@import "singularity-extras/outputs";

@include add-grid(320px 1 2 200px 1);
@include add-gutter(1em);
@include add-gutter-style('split');

@include sgs-change('calc include min-width', false);

// @debug ratio(2, 5);
// @debug snap(ratio(2, 5), .25);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

div {
  height: 10vh;
  margin: 0;
  padding: 0;
}

.foo {
  background: red;
  @include grid-span(1, 1, $output-style: 'calc');
}

.bar {
  background: orange;
  @include grid-span(1, 2, $output-style: 'calc');
}

.qux {
  background: green;
  @include grid-span(1, 4, $output-style: 'calc');
}

.where {
  background: blue;
  @include grid-span(1, 3, $output-style: 'calc');
}

.final {
  background: grey;
  @include grid-span(1, 5, $output-style: 'calc');
}

.baz {
  background: yellow;
  clear: both;
  @include grid-span(2, 2, $output-style: 'calc');
}


.waldo {
  background: purple;
  clear: both;
  @include grid-span(3, 3, $output-style: 'calc');
}

.double {
  background: pink;
  clear: both;
  @include grid-span(4, 1, $output-style: 'calc');
}