@import "singularitygs";
@import "singularity-extras";

$grids: 3;
$grids: add-grid(1 2 3 at 500px);
$grids: add-grid(ratio(golden(), 3) at 700px);
$grids: add-grid(ratio-spiral() at 900px);
$grids: add-grid(compound(2, 3, 4) at 1100px);

$gutters: .5;

#layouts {
  content: 'Initial Layout';
  @include grid-span(1, 2);

  @include layout(6, .25, 'float') {
      content: 'Inner Layout';
      @include grid-span(1, 2);
    }

  @include breakpoint(500px) {
    @include layout(6, .25, 'float') {
      content: 'Inner Layout, Breakpoint';
      @include grid-span(1, 2);

      @include layout(2 4 6) {
        @debug find-grid();
        content: 'Nested Layout';
        @include grid-span(1, 2);
      }
    }
  }

  @include breakpoint(500px) {
    content: 'Initial Breakpoint Layout';
    @include grid-span(1, 2);
  }


  content: 'Back to Initial Layout';
  @include grid-span(1, 2);

  @include breakpoint(700px) {
    @debug find-grid();
  }

  @include breakpoint(900px) {
    @debug find-grid();
  }

  @include breakpoint(1100px) {
    @debug find-grid();
  }
}