/* line 16, ../sass/test.scss */
* {
  box-sizing: border-box;
}

/* line 20, ../sass/test.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 25, ../sass/test.scss */
div {
  height: 10vh;
  margin: 0;
  padding: 0;
}

/* line 31, ../sass/test.scss */
.foo {
  background: red;
  width: 320px;
  float: left;
  margin-right: -100%;
  margin-left: 0.5em;
}

/* line 36, ../sass/test.scss */
.bar {
  background: orange;
  width: -webkit-calc((((100% - (520px + 5em)) / (4))) * 1);
  width: calc((((100% - (520px + 5em)) / (4))) * 1);
  float: left;
  margin-right: -100%;
  margin-left: -webkit-calc(0.5em + (320px + 1em));
  margin-left: calc(0.5em + (320px + 1em));
}

/* line 41, ../sass/test.scss */
.qux {
  background: green;
  width: 200px;
  float: left;
  margin-right: -100%;
  margin-left: -webkit-calc(0.5em + (320px + 1em) + (((100% - (520px + 5em)) / (4)) * 1 + 1em) + (((100% - (520px + 5em)) / (4)) * 2 + 1em));
  margin-left: calc(0.5em + (320px + 1em) + (((100% - (520px + 5em)) / (4)) * 1 + 1em) + (((100% - (520px + 5em)) / (4)) * 2 + 1em));
}

/* line 46, ../sass/test.scss */
.where {
  background: blue;
  width: -webkit-calc((((100% - (520px + 5em)) / (4))) * 2);
  width: calc((((100% - (520px + 5em)) / (4))) * 2);
  float: left;
  margin-right: -100%;
  margin-left: -webkit-calc(0.5em + (320px + 1em) + (((100% - (520px + 5em)) / (4)) * 1 + 1em));
  margin-left: calc(0.5em + (320px + 1em) + (((100% - (520px + 5em)) / (4)) * 1 + 1em));
}

/* line 51, ../sass/test.scss */
.final {
  background: grey;
  width: -webkit-calc((((100% - (520px + 5em)) / (4))) * 1);
  width: calc((((100% - (520px + 5em)) / (4))) * 1);
  float: right;
  margin-left: 0;
  margin-right: 0.5em;
}

/* line 56, ../sass/test.scss */
.baz {
  background: yellow;
  clear: both;
  width: -webkit-calc((((100% - (520px + 5em)) / (4)) * 1 + 1em) + (((100% - (520px + 5em)) / (4)) * 2));
  width: calc((((100% - (520px + 5em)) / (4)) * 1 + 1em) + (((100% - (520px + 5em)) / (4)) * 2));
  float: left;
  margin-right: -100%;
  margin-left: -webkit-calc(0.5em + (320px + 1em));
  margin-left: calc(0.5em + (320px + 1em));
}

/* line 63, ../sass/test.scss */
.waldo {
  background: purple;
  clear: both;
  width: -webkit-calc((((100% - (520px + 5em)) / (4)) * 2 + 1em) + (200px + 1em) + (((100% - (520px + 5em)) / (4)) * 1));
  width: calc((((100% - (520px + 5em)) / (4)) * 2 + 1em) + (200px + 1em) + (((100% - (520px + 5em)) / (4)) * 1));
  float: right;
  margin-left: 0;
  margin-right: 0.5em;
}

/* line 69, ../sass/test.scss */
.double {
  background: pink;
  clear: both;
  width: -webkit-calc((320px + 1em) + (((100% - (520px + 5em)) / (4)) * 1 + 1em) + (((100% - (520px + 5em)) / (4)) * 2 + 1em) + (200px));
  width: calc((320px + 1em) + (((100% - (520px + 5em)) / (4)) * 1 + 1em) + (((100% - (520px + 5em)) / (4)) * 2 + 1em) + (200px));
  float: left;
  margin-right: -100%;
  margin-left: 0.5em;
}
